## Cultural References in Movies

In [ ]:
import nltk

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import spacy

In [2]:
data_folder = './Data/MovieSummaries/'
movies = pd.read_csv(data_folder+'movie.metadata.tsv', sep='\t', header=None,  names = ['Wiki ID','movie ID','name', 'release date', 'BOR', 'runtime','languages','countries','genres'])
char= pd.read_csv(data_folder+'character.metadata.tsv', sep='\t', header=None,  names = ['Wiki ID','movie ID', 'release date', 'char name','DOB', 'gender','heght','ethnicity','actor name', 'actor age', 'map ID', 'char ID', 'actor ID' ])

names_char = pd.read_csv(data_folder+'name.clusters.txt', sep='\t', header=None, names=['Name', 'char ID'] )

In [12]:

# Define the valid date range
start_date = '1678-01-01'
end_date = '2262-04-11'

# Filter out-of-range dates
movies = movies[(movies['release date'] >= start_date) & (movies['release date'] <= end_date)]
#movies['release date'] = pd.to_datetime(movies['release date' ]).dt.strftime('%Y-%m-%d')
print("The oldest movie is from:",movies['release date'].min())
print("The most recent movie is from:",movies['release date'].max())

The oldest movie is from: 1888
The most recent movie is from: 2016-06-08

## Movie summaries

In [4]:
summaries_path = data_folder+'plot_summaries.txt' 
movie_summaries = pd.DataFrame(columns=['Wiki ID', 'Summary'])

with open(summaries_path, 'r', encoding='utf-8') as file:
    for line in file:
        parts = line.strip().split('\t')
        row=pd.DataFrame([{'Wiki ID': parts[0], 'Summary': parts[1]}])
        movie_summaries = pd.concat([movie_summaries,row],axis=0, ignore_index=True)

In [ ]:
import nltk

from nltk import ne_chunk, pos_tag, word_tokenize
from nltk.tree import Tree

text = '''
Vasha Busa, a Wild Boy
'''


char_clean=char.dropna(subset=['char name'])
for i in range(char_clean.shape[0]):
    text= str(char_clean.iloc[i]['char name'])
    n_words=len(text.split())
    if n_words>=2:
        #print("character name:", text)
        nltk_results = ne_chunk(pos_tag(word_tokenize(text)))
        for nltk_result in nltk_results:
            if type(nltk_result) == Tree:
                name = ''
                for nltk_result_leaf in nltk_result.leaves():
                    name += nltk_result_leaf[0] + ' '
                #print ('Type: ', nltk_result.label(), 'Name: ', name)
                #print ('Name: ', name)

## Clean

In [6]:
import nltk

from nltk import ne_chunk, pos_tag, word_tokenize
from nltk.tree import Tree

In [57]:
movie_summaries=movie_summaries.dropna()
char=char.dropna(subset=['Wiki ID', 'char name'])

In [8]:
char.head()

,Wiki ID,movie ID,release date,char name,DOB,gender,heght,ethnicity,actor name,actor age,map ID,char ID,actor ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

In [62]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#### Detect names in plot summary, count the number of mentions and link to actor playing the role

In [140]:
name=''
for i in range(0,1):
    print("hello")
    plot=str(movie_summaries[movie_summaries['Wiki ID']==str(movies.loc[i]['Wiki ID'])]['Summary'])
    #characters=char[char['Wiki ID']==movies.loc[i]['Wiki ID']]
    char_names=char[char['Wiki ID']==movies.loc[i]['Wiki ID']]['char name']
    n_words=len(plot.split())
    names=[]
    name_groups = {}
    if n_words>=2:
        print("Summary of film {0}:".format(i), plot)
        nltk_results = ne_chunk(pos_tag(word_tokenize(plot)))
        for nltk_result in nltk_results:
            if type(nltk_result) == Tree:
                name = ''
                for nltk_result_leaf in nltk_result.leaves():
                    name += nltk_result_leaf[0] + ' '
                names.append(name)

 
    for name in names:
        match_found = False
        name_parts = name.strip().lower().split()
        if len(name_parts) == 2:
            #If full name
            first_name, last_name = name_parts
        elif len(name_parts) == 1:
            #If single name
            first_name, last_name= name_parts[0],""
        else:
            break

        full_name = (first_name, last_name)


        # If name mentionned multiple times, group the mentions
        for group, members in name_groups.items():
            if len(name_parts) == 1:
                if first_name in group[0] or first_name in group[1]:
                    members.append(name)
                    match_found = True
            elif first_name in group[0] or last_name in group[1] or first_name in group[1] or last_name in group[0]:
                members.append(name)
                match_found = True
                break

        if not match_found:
            name_groups[full_name] = [name]


    #Count the number of mentions for each name
    for group, members in name_groups.items():
        print(f"Group: {group}, Members: {members}")
    #     print(len(members))
    
    
    # Match names detected to character of char dataset
    for name in char_names:
        mention=False
        #print(name)
        char_name_parts = name.strip().lower().split()
        #look if each word is in each group
        # for group or for word first?
        for group, members in name_groups.items():
            for word in char_name_parts:
                if word in group:
                    print("Name", name, "has", len(members), "mentions")
                    mention=True
                    #print(char)
                    break
        if mention==False:
            print("Name", name, "has", 0, "mentions")

hello
Summary of film 0: 22382    Set in the second half of the 22nd century, the film depicts Mars as a planet that has been 84% terraformed, allowing humans to walk on the surface without wearing pressure suits. The Martian society has become largely matriarchal, with women in most positions of authority. The story concerns a police officer, Melanie Ballard , second in command of a small team alongside Sergeant Jericho  sent to pick up and transport a prisoner named Desolation Williams . Arriving at the remote mining town where Williams is being held, Ballard finds virtually all of the people missing. She learns that the miners had discovered an underground doorway created by an ancient Martian civilization. When the door was opened it released "ghosts," disembodied spirits which possessed the miners. Violence ensues, as the possessed miners commit horrific acts of death and destruction, as well as self-mutilation. With their team leader Helena Bradock  murdered, Ballard must fight off the attacking miners, escape the town, and destroy the ghosts, if possible. Unfortunately, her intentions are complicated by the fact that killing a possessed human merely releases the Martian spirit to possess another human. The team eventually decides to blow up a nuclear reactor to try and vaporize all of the ghosts. At several points in the film Sergeant Jericho shows a romantic interest in Ballard, mostly unreciprocated. Ballard's crew along with survivors who manage to gather in the jail are eventually wiped out by the miners after many fierce battles and events , leaving only her and Williams after Sergeant Jericho and the other remaining officers and the two operators of the train are killed upon returning from a brief retreat to finish the fight. Not wanting the authorities to blame the massacre on him, he handcuffs Ballard to her cot and escapes from the train, leaving her to return home and deliver her report, which is received with skepticism by her superiors. While Ballard recuperates at a hospital, the released spirits, who weren't destroyed after all, attack the city. The end scene sets the movie up for a sequel as Williams returns to team up with Ballard to fight the possessed.
Name: Summary, dtype: object
Group: ('mars', ''), Members: ['Mars ']
Group: ('martian', ''), Members: ['Martian ', 'Martian ', 'Martian ']
Group: ('melanie', 'ballard'), Members: ['Melanie Ballard ', 'Ballard ', 'Ballard ', 'Ballard ', 'Ballard ', 'Ballard ', 'Ballard ', 'Ballard ']
Group: ('sergeant', 'jericho'), Members: ['Sergeant Jericho ', 'Sergeant Jericho ', 'Sergeant Jericho ']
Group: ('desolation', 'williams'), Members: ['Desolation Williams ', 'Williams ', 'Williams ', 'Williams ']
Group: ('helena', 'bradock'), Members: ['Helena Bradock ']
Name Akooshay has 0 mentions
Name Lieutenant Melanie Ballard has 8 mentions
Name Desolation Williams has 4 mentions
Name Sgt Jericho Butler has 3 mentions
Name Bashira Kincaid has 0 mentions
Name Commander Helena Braddock has 1 mentions
Name Whitlock has 0 mentions
Name Big Daddy Mars has 1 mentions
Name Michael Descanso has 0 mentions
Name Uno has 0 mentions
Name Dos has 0 mentions
Name Tres has 0 mentions
Name McSimms has 0 mentions
Name Zimmerman has 0 mentions
Name Benchley has 0 mentions
Name Rodale has 0 mentions

In [157]:
char['role']=0

In [9]:
movies.head()

,Wiki ID,movie ID,name,release date,BOR,runtime,languages,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [35]:
movie_summaries[movie_summaries['Wiki ID']=='261236'].head()
print(movie_summaries.shape[0])
print(movies.shape[0])

42306
81741

In [31]:
print(movies.dtypes)
print(movie_summaries.dtypes)

Wiki ID           int64
movie ID         object
name             object
release date     object
BOR             float64
runtime         float64
languages        object
countries        object
genres           object
dtype: object
Wiki ID    object
Summary    object
dtype: object

In [44]:
common_ids = movies['Wiki ID'].isin(movie_summaries['Wiki ID'])

filtered_movies = movies[common_ids]

print(filtered_movies.index)

Index([    0,     3,     4,     6,    12,    13,    14,    15,    17,    18,
       ...
       81725, 81726, 81728, 81729, 81732, 81733, 81736, 81737, 81739, 81740],
      dtype='int64', length=42207)

In [45]:
for i in filtered_movies.index:
    print("New summary")
    plot=movie_summaries[movie_summaries['Wiki ID']==filtered_movies.loc[i]['Wiki ID']]['Summary']
    #plot=str(movie_summaries.loc[i]['Summary'])
    print(plot)

New summary
22382    Set in the second half of the 22nd century, th...
Name: Summary, dtype: object
New summary
11300    A series of murders of rich young women throug...
Name: Summary, dtype: object
New summary
6437    Eva, an upper class housewife, becomes frustra...
Name: Summary, dtype: object
New summary
34184    Every hundred years, the evil Morgana  returns...
Name: Summary, dtype: object
New summary
28213    Adam, a San Francisco-based artist who works a...
Name: Summary, dtype: object
New summary
12253    {{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...
Name: Summary, dtype: object
New summary
9200    Serap, a young actress with a strong, lively p...
Name: Summary, dtype: object
New summary
228     The story starts as one of the robots flies i...
Name: Summary, dtype: object
New summary
16384    The film opens with Mary Poppins  perched in a...
Name: Summary, dtype: object
New summary
7170    Otto Brosowski, a communist miner, writes to t...
Name: Summary, dtype: object
New summary
39800    Jimmy ([[Hiroshi Watanabe  loves dinosaurs and...
Name: Summary, dtype: object
New summary
40061    The film opens with a simpleton from a small v...
Name: Summary, dtype: object
New summary
20986    A young 20-year-old named Jody  lives with his...
Name: Summary, dtype: object
New summary
17788    Shalini 'Shalu' lives a wealthy lifestyle with...
Name: Summary, dtype: object
New summary
23538    Professor Kurian Fernandez , a convict escapes...
Name: Summary, dtype: object
New summary
35593    Mary, an orphan lives in an orphanage run by n...
Name: Summary, dtype: object
New summary
22608    Anoop Chandran , is a famous writer and award ...
Name: Summary, dtype: object
New summary
18377    Perry is an English chemist working for a pain...
Name: Summary, dtype: object
New summary
18707    The film is the story of Yamuna  whose life is...
Name: Summary, dtype: object
New summary
26700    Archie Andrews, fifteen years after graduating...
Name: Summary, dtype: object
New summary
11108    An example of the film's comedic tone comes in...
Name: Summary, dtype: object
New summary
40243    Ruby and Claude Montgomery are a very insecure...
Name: Summary, dtype: object
New summary
34015    The film is a collision of three separate stor...
Name: Summary, dtype: object
New summary
36627    In the fictional farming village of Tlachtlán,...
Name: Summary, dtype: object
New summary
31309    A Japanese businessman sees a woman being grop...
Name: Summary, dtype: object
New summary
31580    The Great New Wonderful is a series of vignett...
Name: Summary, dtype: object
New summary
38316    Randy Bodek  is a rebellious college slacker, ...
Name: Summary, dtype: object
New summary
8250    Chandra Mukhi , a princess of a heavenly kingd...
Name: Summary, dtype: object
New summary
2511    The film focuses on the conflict between Maxim...
Name: Summary, dtype: object
New summary
5222    In the 1980s, video games were synonymous with...
Name: Summary, dtype: object
New summary
7974    The film centers on Mike Halligan, a retired c...
Name: Summary, dtype: object
New summary
40069    After coming off a successful comedy tour, Dol...
Name: Summary, dtype: object
New summary
40246    Dr. Emil Hobbes  is conducting unorthodox expe...
Name: Summary, dtype: object
New summary
30226    After running away from a shoot out, the outla...
Name: Summary, dtype: object
New summary
31167    Raghu Shukla lives with his wife Sarojini, son...
Name: Summary, dtype: object
New summary
19103    The film tells the story of six mental cases, ...
Name: Summary, dtype: object
New summary
19772    Told through archival photos and footage, spac...
Name: Summary, dtype: object
New summary
33530    Sir Philip Ashlow , his neglected wife, Lady A...
Name: Summary, dtype: object
New summary
39443    The film portrays an aggressive and belligeren...
Name: Summary, dtype: object
New summary
5509    The film is about the harsh period of Reconstr...
Name: Summary, dtype: object
New summary
11144    Best friends Clay Clayburn and Will Denning gr...
Name: Summary, dtype: object
New summary
38841    In the heart of the Canadian wilderness, sultr...
Name: Summary, dtype: object
New summary
468    The film opens in 1991, with the funeral of a ...
Name: Summary, dtype: object
New summary
7996    The first part of the film shows the police in...
Name: Summary, dtype: object
New summary
5148    Aboard the cargo ship McRuby, docked in New Yo...
Name: Summary, dtype: object
New summary
40587    Arun Sharma  is a spy working for RAW . He set...
Name: Summary, dtype: object
New summary
20047    One evening while eagerly awaiting a date with...
Name: Summary, dtype: object
New summary
26847    The Polish artist Julia and her husband Piotr,...
Name: Summary, dtype: object
New summary
26944    In 1976, during the political turmoil in Argen...
Name: Summary, dtype: object
New summary
4042    The story tells of a young, pregnant woman ([[...
Name: Summary, dtype: object
New summary
24786    In 1918, against the background of political e...
Name: Summary, dtype: object
New summary
33360    The film starts off with two girls talking to ...
Name: Summary, dtype: object
New summary
24491    Kedarnath Bhargav, his wife, Laxmi, and two so...
Name: Summary, dtype: object
New summary
42256    Dr. David Lowell's  research is carried out in...
Name: Summary, dtype: object
New summary
14522    An old friend of the boys returns to town and ...
Name: Summary, dtype: object
New summary
28202    ChromeSkull: Laid to Rest 2 picks up three mon...
Name: Summary, dtype: object
New summary
7945    Steve Randall  is an independent trucker who i...
Name: Summary, dtype: object
New summary
4845    The film follows Jack Hopkins , an aircraft de...
Name: Summary, dtype: object
New summary
16634    An officer in the violent crimes division, Dae...
Name: Summary, dtype: object
New summary
13964    A new bullet train is speeding passengers to L...
Name: Summary, dtype: object
New summary
39323    Arthur Kirkland  is a hotheaded but idealistic...
Name: Summary, dtype: object
New summary
5290    Children of Glory commemorates Hungary's Revol...
Name: Summary, dtype: object
New summary
3687    Ahn Mo-rae and Han Sang-in have been friends s...
Name: Summary, dtype: object
New summary
21006    The film opens in 1940, with Lawrence in a scr...
Name: Summary, dtype: object
New summary
32195    The film is a hybrid between narrative structu...
Name: Summary, dtype: object
New summary
19555    {{Expand section}} In late October 1943, a bat...
Name: Summary, dtype: object
New summary
28621    Twin zoologists Oswald and Oliver Deuce  are a...
Name: Summary, dtype: object
New summary
21670    {{Plot}} Jerry is mixing a potion. When he dri...
Name: Summary, dtype: object
New summary
651    Pedarayudu  is a very kind-hearted, discipline...
Name: Summary, dtype: object
New summary
40168    Jimmy "The Saint" Tosnia  is a dapper ex-gangs...
Name: Summary, dtype: object
New summary
9329    Priya Amal Raj  loses her mother at a very you...
Name: Summary, dtype: object
New summary
27744    {{Plot}} Truck driver Martin "Rubber Duck" Pen...
Name: Summary, dtype: object
New summary
22327    Sea Org officer Ronnie Miscavige describes the...
Name: Summary, dtype: object
New summary
17161    The episode starts at the Krusty Krab, when Sp...
Name: Summary, dtype: object
New summary
28090    14-year-old Danny O'Neil  is madly in love wit...
Name: Summary, dtype: object
New summary
2260    Betty offers to take her nephew Little Jimmy t...
Name: Summary, dtype: object
New summary
28269    The film opens with a woman walking her dog do...
Name: Summary, dtype: object
New summary
36220    The film begins with a voice over explaining t...
Name: Summary, dtype: object
New summary
23631     Miss Dove, commonly referred to as "the terri...
Name: Summary, dtype: object
New summary
36174    Three women ridiculed by their spouses glide t...
Name: Summary, dtype: object
New summary
14082    Matko Destanov, a small-time Roma smuggler and...
Name: Summary, dtype: object
New summary
29190    Carrie Snyder  is a prostitute, who is forced ...
Name: Summary, dtype: object
New summary
29584    Charles Farmer is a former astronaut-in-traini...
Name: Summary, dtype: object
New summary
33037    David Sumner , a timid American mathematician,...
Name: Summary, dtype: object
New summary
22780    Oru Black & White Kudumbam movie is about a ha...
Name: Summary, dtype: object
New summary
19523    {{Expand section}} A reformed jewel thief trie...
Name: Summary, dtype: object
New summary
6234    Sometime after the events in Critters 2, Charl...
Name: Summary, dtype: object
New summary
40582    In the not-too-distant future, androids have c...
Name: Summary, dtype: object
New summary
32949    The story is about an ostracized teenager, Cli...
Name: Summary, dtype: object
New summary
8219    Kibera Kid is the story of Otieno, a 12 year o...
Name: Summary, dtype: object
New summary
7138    Vishnu  is the regional manager in a travels c...
Name: Summary, dtype: object
New summary
17428    Again and again, people disappear from a diamo...
Name: Summary, dtype: object
New summary
36813    Hairy and rowdy creatures called rolleys sail ...
Name: Summary, dtype: object
New summary
41790    At night the tenants of a housing project lock...
Name: Summary, dtype: object
New summary
42158    The film is divided into five segments , each ...
Name: Summary, dtype: object
New summary
41072    Bharat Nagar is a city in modern secular India...
Name: Summary, dtype: object
New summary
12818    The Catastrophe is a surreal drama/mystery sho...
Name: Summary, dtype: object
New summary
38431     In the summer of 1959, local boy Danny Zuko a...
Name: Summary, dtype: object
New summary
5759    Paul  is a projectionist in a Detroit theater ...
Name: Summary, dtype: object
New summary
14056    A rich novelist, Stephen Byrne, who lives and ...
Name: Summary, dtype: object
New summary
6355    Frederick Ward is a cattle drover earning mone...
Name: Summary, dtype: object
New summary
27851    Pierre Martel , a young Parisian businessman, ...
Name: Summary, dtype: object
New summary
30576    One night in winter, a young girl named Gerda ...
Name: Summary, dtype: object
New summary
32596    María Teresa  is a wealthy young woman who fin...
Name: Summary, dtype: object
New summary
7186    The film is a slice of a housewife's life in 1...
Name: Summary, dtype: object
New summary
18638    The movie is set in Korea's Joseon Dynasty, du...
Name: Summary, dtype: object
New summary
26003    A woman and man who met at a wedding reception...
Name: Summary, dtype: object
New summary
27660    Jane Austen  is the younger daughter of Revere...
Name: Summary, dtype: object
New summary
30740    Max decides to commit suicide and forces Bud t...
Name: Summary, dtype: object
New summary
32804    The film revolves around the attempts of write...
Name: Summary, dtype: object
New summary
22097    The film deals with a woman's  fight against c...
Name: Summary, dtype: object
New summary
167    Computer experts around the world strive towar...
Name: Summary, dtype: object
New summary
5803    On October 6, 1970, while on holiday in Istanb...
Name: Summary, dtype: object
New summary
18930    It’s midnight, and Jeanne  is awakened by wail...
Name: Summary, dtype: object
New summary
10717    Omni Consumer Products , on the verge of bankr...
Name: Summary, dtype: object
New summary
2073    A redneck officer  is put in charge of a squad...
Name: Summary, dtype: object
New summary
20371    Junie , is an ice cream vendor, who goes aroun...
Name: Summary, dtype: object
New summary
37303    Ajith Kumar , who lives with his grandmother i...
Name: Summary, dtype: object
New summary
10047    An American Intelligence Agent and Nazi hunter...
Name: Summary, dtype: object
New summary
144    Contemporary New Orleans jazz musicians discus...
Name: Summary, dtype: object
New summary
36128    Martha Heyer, a virginal 31 years old libraria...
Name: Summary, dtype: object
New summary
28800    In 1941 Lt. Commander Jeffords, an American se...
Name: Summary, dtype: object
New summary
2705    In this film, which is based loosely on the an...
Name: Summary, dtype: object
New summary
41333    The story has three themes which run concurren...
Name: Summary, dtype: object
New summary
28678    Six introverted individuals, bored with their ...
Name: Summary, dtype: object
New summary
14546    Kenan is a 35-year-old toll booth attendant st...
Name: Summary, dtype: object
New summary
17738    On the planet Krypton, using evidence provided...
Name: Summary, dtype: object
New summary
7631    Twist's mother dies in childbirth in the middl...
Name: Summary, dtype: object
New summary
33159    The film follows the friends Leo and Lenny, wh...
Name: Summary, dtype: object
New summary
37631    In the post Spanish Civil War years, Catalan k...
Name: Summary, dtype: object
New summary
26970    Rock star Roddy Usher (played by [[James Johns...
Name: Summary, dtype: object
New summary
3732    A group of English schoolchildren, living in t...
Name: Summary, dtype: object
New summary
11146    A father and son go hunting in the mountains. ...
Name: Summary, dtype: object
New summary
27872    Keith Lussier - a hard working man - and his w...
Name: Summary, dtype: object
New summary
8429    An elderly woman, Elmira Johnson, uses a Ouija...
Name: Summary, dtype: object
New summary
21518    The USS Charleston  in On the Beach is a 688i ...
Name: Summary, dtype: object
New summary
7970    Charlie Tuttle  is a partner in a successful l...
Name: Summary, dtype: object
New summary
20374    The Afghan kingdom of Baharistan is ruled by a...
Name: Summary, dtype: object
New summary
33503    The film takes place in Marseille, France, and...
Name: Summary, dtype: object
New summary
1081    Vera  is a femme fatale for the 21st century: ...
Name: Summary, dtype: object
New summary
15814    The film is centered on two men in a bathtub; ...
Name: Summary, dtype: object
New summary
528    The Texas State University Fightin' Armadillos...
Name: Summary, dtype: object
New summary
33501    Jeff Harper sails to the tropical paradise Ahm...
Name: Summary, dtype: object
New summary
41399    Summer Pozzi , a Chicago-based flight attendan...
Name: Summary, dtype: object
New summary
6127    In the 19th century, Benjamin Barker , a skill...
Name: Summary, dtype: object
New summary
24825    Siddhant Rai is a wealthy widower who lives wi...
Name: Summary, dtype: object
New summary
37839    The Stooges are choreographers at B. O. Pictur...
Name: Summary, dtype: object
New summary
10503    A defecting Russian diplomat has arranged to m...
Name: Summary, dtype: object
New summary
27005    The film is structured around lengthy flashbac...
Name: Summary, dtype: object
New summary
3553    Advertising executive Nick Beam  thinks his li...
Name: Summary, dtype: object
New summary
32009    Set in today’s Mumbai, Barah Aana revolves aro...
Name: Summary, dtype: object
New summary
30952    U.S. Air Force test pilot Major Bill Allison  ...
Name: Summary, dtype: object
New summary
2465    The mining town of Cedar City, Utah, is ruled ...
Name: Summary, dtype: object
New summary
18529    One day after the events of Friday the 13th Pa...
Name: Summary, dtype: object
New summary
14914    {{Expand section}} A man whose wife has desert...
Name: Summary, dtype: object
New summary
39430    Rahul ([[Dev  & Ria  met as they are independe...
Name: Summary, dtype: object
New summary
10252      April 1945. The Nazi army is losing the war ...
Name: Summary, dtype: object
New summary
10605    A melodrama of a wealthy Los Angeles family - ...
Name: Summary, dtype: object
New summary
3131    Dar, the Beastmaster , is back and now he has ...
Name: Summary, dtype: object
New summary
40675    Amy Medford  is a dutiful housewife of the ear...
Name: Summary, dtype: object
New summary
34348    Weather presenter Jin-su is involved in a car ...
Name: Summary, dtype: object
New summary
24623    Murari has dream of becoming an actor, but his...
Name: Summary, dtype: object
New summary
3680    Newlywed Carl  goes to war where he endures ma...
Name: Summary, dtype: object
New summary
5101    Four homeless art students move into an abando...
Name: Summary, dtype: object
New summary
19215    After the mayor of the fictional village San P...
Name: Summary, dtype: object
New summary
35827    In Spring 1989, Alex  and Annie Morrell  finis...
Name: Summary, dtype: object
New summary
35195    On the lookout for employment, Ashok  sees the...
Name: Summary, dtype: object
New summary
14298    It is 1982 and Lizzie Borden High School is ho...
Name: Summary, dtype: object
New summary
33276    The film takes place in Paris, 1793: durung th...
Name: Summary, dtype: object
New summary
30367    634 A.D.:Though General Amdar is able to win t...
Name: Summary, dtype: object
New summary
6615    The film is set in 1918. Riyo  is a "city girl...
Name: Summary, dtype: object
New summary
39239    A motorbiker , who early in the film was unabl...
Name: Summary, dtype: object
New summary
34002    When freeloader Phil is tossed out by the love...
Name: Summary, dtype: object
New summary
35868    The Winter Wishes Festival is finally coming a...
Name: Summary, dtype: object
New summary
14115    In the 1840s, two sisters fall in love with th...
Name: Summary, dtype: object
New summary
11410    When stroke victim Violet Kellty dies in her h...
Name: Summary, dtype: object
New summary
26546    Betty holds a "Betty Boop Exposition", where s...
Name: Summary, dtype: object
New summary
39945    Bheemasena Rao  is a dignified and respectful ...
Name: Summary, dtype: object
New summary
8351     Dr. Barnaby Fulton , a research chemist worki...
Name: Summary, dtype: object
New summary
22180    It's summer, and 18-year-old Sean Roberts  has...
Name: Summary, dtype: object
New summary
24667    A mental patient who believes himself to be Je...
Name: Summary, dtype: object
New summary
11540    A passion for golf drives this story about fam...
Name: Summary, dtype: object
New summary
25159    Thamizh Selvan ([[Prabhu , an orphan who works...
Name: Summary, dtype: object
New summary
30424    Socialite Claire Gregory  attends a party and ...
Name: Summary, dtype: object
New summary
14122    A group of teenage girls spends the night in a...
Name: Summary, dtype: object
New summary
30846    {{Expand section}} Rosie , a scriptwriter for ...
Name: Summary, dtype: object
New summary
42214    This is the story of two lads from Belfast as ...
Name: Summary, dtype: object
New summary
22606    Tefeeda is a girl who leaves her brother-in-la...
Name: Summary, dtype: object
New summary
6789    Against the backdrop of the Bourbon Restoratio...
Name: Summary, dtype: object
New summary
17238    Two high school seniors from different social ...
Name: Summary, dtype: object
New summary
30369    On September 27, 1941, Reinhard Heydrich, one ...
Name: Summary, dtype: object
New summary
8379    The film takes place in Koishikawa, a district...
Name: Summary, dtype: object
New summary
24097    Story of a boy named Ibu during Liberation war...
Name: Summary, dtype: object
New summary
4416    In 1813, the war turns in favour of the Britis...
Name: Summary, dtype: object
New summary
28263    Lovelorn Kim Hyeon-gon , who has fallen for co...
Name: Summary, dtype: object
New summary
3420    Andrzej  and Krystyna  are driving to a lake t...
Name: Summary, dtype: object
New summary
30810    While traipsing through the Ookaboochie Swamps...
Name: Summary, dtype: object
New summary
24685    Marcela is an immigrant woman with money diffi...
Name: Summary, dtype: object
New summary
37926    The film begins with Michael McCrea , a perpet...
Name: Summary, dtype: object
New summary
10006    The educational film aims to help the "people ...
Name: Summary, dtype: object
New summary

KeyboardInterrupt:

## Version 2

In [65]:
name=''
for i in range(0,1):
    print("New film")
    plot=str(movie_summaries[movie_summaries['Wiki ID']==movies.loc[i]['Wiki ID']]['Summary'])
    char_names=str(char[char['Wiki ID']==movies.loc[i]['Wiki ID']]['char name'])
    n_words=len(plot.split())
    names=[]
    name_groups = {}
    
    if n_words>=2:
        print("Summary of film {0}:".format(i), plot)
        nltk_results = ne_chunk(pos_tag(word_tokenize(plot)))
        for nltk_result in nltk_results:
            if type(nltk_result) == Tree:
                name = ''
                for nltk_result_leaf in nltk_result.leaves():
                    name += nltk_result_leaf[0] + ' '
                names.append(name)

 
    for name in names:
        match_found = False
        name_parts = name.strip().lower().split()
        if len(name_parts) == 2:
            #If full name
            first_name, last_name = name_parts
        elif len(name_parts) == 1:
            #If single name
            first_name, last_name= name_parts[0],""
        else:
            break

        full_name = (first_name, last_name)


        # If name mentionned multiple times, group the mentions
        for group, members in name_groups.items():
            if len(name_parts) == 1:
                if first_name in group[0] or first_name in group[1]:
                    members.append(name)
                    match_found = True
            elif first_name in group[0] or last_name in group[1] or first_name in group[1] or last_name in group[0]:
                members.append(name)
                match_found = True
                break

        if not match_found:
            name_groups[full_name] = [name]

    
    # Match names detected to character of char dataset
    for name in char_names:
        mention=False
        print(name)
        # char_name_parts = name.strip().lower().split()
        # for group, members in name_groups.items():
        #     for word in char_name_parts:
        #         if word in group:
        #             print("Name", name, "has", len(members), "mentions")
        #             mention=True
        #             # for now assign the number of mentions to each character
        #             char.loc[char['char name'] == name, 'role'] = len(members)
        #             break
        # if mention==False:
        #     char.loc[char['char name'] == name, 'role'] = 0
        #     print("Name", name, "has", 0, "mentions")

New film
Summary of film 0: 22382    Set in the second half of the 22nd century, the film depicts Mars as a planet that has been 84% terraformed, allowing humans to walk on the surface without wearing pressure suits. The Martian society has become largely matriarchal, with women in most positions of authority. The story concerns a police officer, Melanie Ballard , second in command of a small team alongside Sergeant Jericho  sent to pick up and transport a prisoner named Desolation Williams . Arriving at the remote mining town where Williams is being held, Ballard finds virtually all of the people missing. She learns that the miners had discovered an underground doorway created by an ancient Martian civilization. When the door was opened it released "ghosts," disembodied spirits which possessed the miners. Violence ensues, as the possessed miners commit horrific acts of death and destruction, as well as self-mutilation. With their team leader Helena Bradock  murdered, Ballard must fight off the attacking miners, escape the town, and destroy the ghosts, if possible. Unfortunately, her intentions are complicated by the fact that killing a possessed human merely releases the Martian spirit to possess another human. The team eventually decides to blow up a nuclear reactor to try and vaporize all of the ghosts. At several points in the film Sergeant Jericho shows a romantic interest in Ballard, mostly unreciprocated. Ballard's crew along with survivors who manage to gather in the jail are eventually wiped out by the miners after many fierce battles and events , leaving only her and Williams after Sergeant Jericho and the other remaining officers and the two operators of the train are killed upon returning from a brief retreat to finish the fight. Not wanting the authorities to blame the massacre on him, he handcuffs Ballard to her cot and escapes from the train, leaving her to return home and deliver her report, which is received with skepticism by her superiors. While Ballard recuperates at a hospital, the released spirits, who weren't destroyed after all, attack the city. The end scene sets the movie up for a sequel as Williams returns to team up with Ballard to fight the possessed.
Name: Summary, dtype: object
0























A
k
o
o
s
h
a
y


1





L
i
e
u
t
e
n
a
n
t

M
e
l
a
n
i
e

B
a
l
l
a
r
d


2












D
e
s
o
l
a
t
i
o
n

W
i
l
l
i
a
m
s


3













S
g
t

J
e
r
i
c
h
o

B
u
t
l
e
r


4
















B
a
s
h
i
r
a

K
i
n
c
a
i
d


5






C
o
m
m
a
n
d
e
r

H
e
l
e
n
a

B
r
a
d
d
o
c
k


6























W
h
i
t
l
o
c
k


7

















B
i
g

D
a
d
d
y

M
a
r
s


8















M
i
c
h
a
e
l

D
e
s
c
a
n
s
o


9




























U
n
o


1
0



























D
o
s


1
1


























T
r
e
s


1
2























M
c
S
i
m
m
s


1
3





















Z
i
m
m
e
r
m
a
n


1
4






















B
e
n
c
h
l
e
y


1
5
























R
o
d
a
l
e


N
a
m
e
:

c
h
a
r

n
a
m
e
,

d
t
y
p
e
:

o
b
j
e
c
t

,Wiki ID,movie ID,release date,char name,DOB,gender,heght,ethnicity,actor name,actor age,map ID,char ID,actor ID,role
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,0.0
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,0.0
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,0.0
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,0.0
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,0.0

In [66]:
char.head()

,Wiki ID,movie ID,release date,char name,DOB,gender,heght,ethnicity,actor name,actor age,map ID,char ID,actor ID,role
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,0.0
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,0.0
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,0.0
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,0.0
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,0.0

In [ ]:
name=''
#for i in range(1,2):
for i in filtered_movies.index:
    print("New film")
    #plot=str(movie_summaries[movie_summaries['Wiki ID']==str(movies.loc[i]['Wiki ID'])]['Summary'])
    plot=str(movie_summaries[movie_summaries['Wiki ID']==filtered_movies.loc[i]['Wiki ID']]['Summary'])
    char_names=str(char[char['Wiki ID']==filtered_movies.loc[i]['Wiki ID']]['char name'])
    n_words=len(plot.split())
    names=[]
    name_groups = {}
    if n_words>=2:
        print("Summary of film {0}:".format(i), plot)
        nltk_results = ne_chunk(pos_tag(word_tokenize(plot)))
        for nltk_result in nltk_results:
            if type(nltk_result) == Tree:
                name = ''
                for nltk_result_leaf in nltk_result.leaves():
                    name += nltk_result_leaf[0] + ' '
                names.append(name)

 
    for name in names:
        match_found = False
        name_parts = name.strip().lower().split()
        if len(name_parts) == 2:
            #If full name
            first_name, last_name = name_parts
        elif len(name_parts) == 1:
            #If single name
            first_name, last_name= name_parts[0],""
        else:
            break

        full_name = (first_name, last_name)


        # If name mentionned multiple times, group the mentions
        for group, members in name_groups.items():
            if len(name_parts) == 1:
                if first_name in group[0] or first_name in group[1]:
                    members.append(name)
                    match_found = True
            elif first_name in group[0] or last_name in group[1] or first_name in group[1] or last_name in group[0]:
                members.append(name)
                match_found = True
                break

        if not match_found:
            name_groups[full_name] = [name]

    
    # Match names detected to character of char dataset
    for name in char_names:
        mention=False
        char_name_parts = name.strip().lower().split()
        for group, members in name_groups.items():
            for word in char_name_parts:
                if word in group:
                    print("Name", name, "has", len(members), "mentions")
                    mention=True
                    # for now assign the number of mentions to each character
                    char.loc[char['char name'] == name, 'role'] = len(members)
                    break
        if mention==False:
            char.loc[char['char name'] == name, 'role'] = 0
            print("Name", name, "has", 0, "mentions")

### Assign a categorical value based on the number of mentions compared to other characters of the same movie
#### 0: small role (not mentionned in summary)
#### 1: secondary role (mentionned in summary)
#### 2: lead role (mentionned considerabely more than others)

In [ ]:

mentions=char[char['Wiki ID']==movies.loc[0]['Wiki ID']]['role']

In [166]:
char.head()

,Wiki ID,movie ID,release date,char name,DOB,gender,heght,ethnicity,actor name,actor age,map ID,char ID,actor ID,role
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,0
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,8
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,4
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,3
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,0

# Actors Career

In [17]:
actor_data_folder = './Data/Actors/'
names = pd.read_csv(actor_data_folder+'name.tsv', sep='\t')

In [18]:
principals = pd.read_csv(actor_data_folder+'principals.tsv', sep='\t')